[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
openai = "*"
python-dotenv = "*"
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.12"
